

*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: var(--para-clr); 
}
ul, li{
	list-style: none;
}
img{
	max-width: 100%;
}

 h1,h2,h3,h4,h5,h6{
 	font-family: var(--primary-font);
 }
 a, p, li{
 	font-size: 16px;
 	font-family: var(--primary-font);
 	color: var(--third-clr);
 }


@media (max-width: 1200px){
	.banner-buttons-div{
		margin-top: 60%;
	}
	.home-ideas-sect .ideas-left .ideas-head{
		font-size: 110px;
	}
}

 @media (max-width: 992px){
 	.header .request-quote{
 		margin: 0 auto;
 		display: block;
 		margin-top: 20px;
 	}
 	.header .navbar ul.dropdown-menu.inner-submenu{
 		max-width: 40%;
 		margin: 0 auto;
 	    text-align: center;
 	}
 	.banner-buttons-div{
 		margin-top: 60%;
 	}
 	.home-ideas-sect{
 		padding: 70px 0;
 	}
 	.home-ideas-sect .ideas-left .ideas-head{
 		font-size: 70px;
 		line-height: 80px;
 	}
 	.ideas-right .idea-vid{
 		top: 10%;
 		left: 35%;
 	}
 	.contact-left .img-main-div{
 		margin-left: unset;
 	}
 }


@media (max-width: 768px){

	.footer .footer-head,.footer .footer-links-ul{
		border-right: 0;
	}
	.banner-buttons-div{
 		margin-top: 100%;
 	}
 	.portfolio-right{
 		position: unset;
 	}
 	.portfolio-right .work-vid{
 		position: unset;
 		margin-top: 55%;
 	}
 	.home-process-sect .process-head{
 		text-align: center;
 		    width: 100%;
 		    margin-top: 100px!important;
 	}
 	.home-process-sect .process-items-main .proc-single-item{
 		text-align: center;
 		margin-bottom: 20px;
 	}
 	.home-ideas-sect .ideas-left .ideas-head{
 		text-align: center;
 		margin-bottom: 20px;
 	}
 	.ideas-right .idea-img{
 		max-width: 100%;
 	}
 	.ideas-right .idea-vid{
 		top: 20%;
 		left: 45%;
 	}
  .services-intro-div .intro-head .services-intro-para, .top-three-services-div .top-para-text{
    width: 100%;
  }

  }

 @media (max-width: 575px){

 	.footer .footer-links-ul{
 		/* border-right: 1px solid #fff; */
 		min-height: auto;
 	}
 	.footer .footer-links-ul, .footer .footer-head, .footer-logo-div{
 		text-align: center;
 	}
 	.footer .footer-single-main:first-child{
 		padding-top: 40px;
 	}
 	.footer .footer-single-main{
 		padding-top: 20px;
 	}


  }

  @media (max-width: 480px){

  	.yellow-section .yellow-circle{
  		width: 300px;
  		height: 300px;
  	}
  	.circle-content-div .circle-head{
  		font-size: 36px;
  	}
  	.circle-content-div{
  		margin-top: 40px;
  	}
  	.circle-content-div .last-text{
  		font-size: 60px;
  	}
  	.banner-buttons-div{
  		margin-top: 480px;
  	}

  	.banner-buttons-div a{ 
  		width: 80%;
  		margin: 0 auto;
  		margin-left: 0!important;
  		margin-bottom: 10px;
  		text-align: center;
  		margin-right: 0!important;
  	}
  	.home-banner-sect{
  		max-height: 570px;
  	}
  	.portfolio-left .main-heading-port{
  		font-size: 52px;
  	}
  	.portfolio-right{
  		height: 400px;
  	}
  	.portfolio-right .work-vid{
  		margin-top: 45%;
  	}
  	.home-ideas-sect .ideas-left .ideas-head{
  		font-size: 36px;
  		line-height: 50px;
  	}
  	.ideas-right .idea-right-content .idea-title{
  		font-size: 32px!important;
  	}
  	.contact-right .contact-main-from, .contact-right p{
  		width: 100%;
  		max-width: 100%;
  	}
  }


 @media (max-width: 380px){
  	.ideas-right .idea-vid{
  		top: 14%;
  		    left: 40%;
  	}
  }